.navbar {
    background: linear-gradient(#fff, $app-background);
    border-style: none;

    .dropdown-menu {
        margin-top: 0.5em;
        background: #dce9bb;
        border: none;
        border-right: 8px
    }

    .dropdown {
        padding-top: 0.65em;
        margin-left: 0.55em;
        margin-right: 0.25em;
    }

    .search-box {
        margin-top: 1em;
        width: 16em;
        font-weight: 300;
        background: rgba(255, 255, 255, 0.5);
    }
}

.navbar-brand {
    img {
        max-height: 1.6em;
    }
}

.navbar-action-item {
    img {
        max-height: 1.6em;
    }
}
ul.navbar-nav li a {
    font-size: 14pt;
    font-weight: 300;
    font-style: italic;
    color: #704012 !important;
}
