.poll-view {
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);
    min-height: 60%;
    margin-top: 2em;

    .flame {
        color: $flame-color;
        float: left;
        padding: 0.25em;
    }

    .copy-link {
        color: $flame-color;
        float: right;
        padding: 0.25em;
        cursor: pointer;
    }

    .poll-option {
        cursor: pointer;
        .progress {
            margin-bottom: 0.75em;
            height: 1.75em;
            border-color: #224725;
            border-style: solid;
            border-width: 1px;
            border-radius: 8px;
        p {
            margin: auto 0.5em;
            padding-top: 0.4em;
            font-size: 1.5em;
            color: #224725;
        }

        .progress-bar {
            color: #000;
            background: $progress-bar-color;
            }
        }
    }

    .title {
        color: $title-color;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
        margin-top: -0.5rem;
    }

    .poll-tags {
        color: $title-color;
        font-size: 0.75em;
        font-weight: 300;
        font-style: italic;
        padding-right: 1em;
        text-decoration: none;
    }
}

.side-card {
    background: #fff;
    min-height: 60%;
    cursor: pointer;
    margin-top: 2em;

    &.left {
        margin-left: -0.75em;
        margin-right: 4em;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);
    }

    &.right {
        margin-right: -0.75em;
        margin-left: 4em;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.50);
    }
}

.btn-poll-nav {
    font-size: 2em;
    margin: 1em;
    border-radius: 4em;
}
